div.scroll-container {
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  border: 2px solid #f2ebe9;
}

div.scroll-container img {
  padding: 10px;
}
.photo-style {
  width: 600px;
  height: 400px;
}
div > h4 {
  color: rgb(0, 0, 0);
}
